body {
  background:#333;
}

#page-wrap:after {
	content:"Smartphone Layout";
}

h2 span, section h3{
	display: none;
}

body{
	font-size:none;
}

footer, input{
	font-size:large;
} 

.pregunta_list{font-size:14px; text-align: left;} 
